@namespace RyanJagdfeld.Module.GitHubCard
@inherits ModuleBase
@inject ISettingService SettingService
@inject IStringLocalizer<Settings> Localizer

<div class="container">
    <div class="row mb-1 align-items-center">
        <Label Class="col-sm-3" For="columnClasses" HelpText="Bootstrap classes for each column in the grid. NOTE: The card width can outgrow the box of the grid." ResourceKey="ColumnClass" ResourceType="@resourceType">Column CSS Class: </Label>
        <div class="col-sm-9">
            <input id="columnClasses" type="text" class="form-control" @bind="@_columnClasses" />
        </div>
        <Label Class="col-sm-3" For="userTemplate" HelpText="The template for displaying a GitHub User" ResourceKey="UserTemplate" ResourceType="@resourceType">User Template: </Label>
        <div class="col-sm-9">
            <textarea id="userTemplate" rows="8" cols="75" class="form-control" @bind="@_userTemplate" />
            <button id="reloadUserDefault" class="btn btn-secondary" @onclick="ReloadDefaultTemplate">Reload Default</button>
        </div>
    </div>
</div>

@code {
    private string resourceType = "RyanJagdfeld.Module.GitHubCard.Settings, RyanJagdfeld.Module.GitHubCard.Client.Oqtane"; // for localization
    public override string Title => "GitHubCard Settings";

    string _columnClasses;
    string _userTemplate;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Dictionary<string, string> settings = await SettingService.GetModuleSettingsAsync(ModuleState.ModuleId);
            _columnClasses = SettingService.GetSetting(settings, "ColumnClasses", "col-xl-4 col-lg-6 col-12");
            _userTemplate = SettingService.GetSetting(settings, "UserTemplate", TemplateHelper.DefaultTemplate());
        }
        catch (Exception ex)
        {
            AddModuleMessage(ex.Message, MessageType.Error);
        }
    }

    public async Task UpdateSettings()
    {
        try
        {
            Dictionary<string, string> settings = await SettingService.GetModuleSettingsAsync(ModuleState.ModuleId);
            SettingService.SetSetting(settings, "ColumnClasses", _columnClasses);
            SettingService.SetSetting(settings, "UserTemplate", _userTemplate);
            await SettingService.UpdateModuleSettingsAsync(settings, ModuleState.ModuleId);
        }
        catch (Exception ex)
        {
            AddModuleMessage(ex.Message, MessageType.Error);
        }
    }

    private void ReloadDefaultTemplate()
    {
        _userTemplate = TemplateHelper.DefaultTemplate();
    }
}
